.App {
    padding-bottom: 50px; /* to prevent overlap with footer */
}

.header {
    text-align: center;
    margin: auto;
}

@media (min-width: 500px) {
    .App {
        width: 80vw;
        margin: auto;
    }
    .header p {
        font-size: 1.2em;
    }
}
