.search {
    width: 80vw;
    margin: auto;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.search input {
    font-size: 1em;
}

.search button {
    font-size: 1em;
    margin-right: 10px;
}

.search button:hover {
    cursor: pointer;
}

.search button:disabled {
    cursor: not-allowed;
}

@media (min-width: 500px) {
    .search {
        flex-flow: row;
        font-size: 1.5em;
    }

    .search input {
        margin: 0 10px;
    }
}
